html, body, ul, li, h1, h2, h3, p:last-child {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 21px;
    margin-bottom: 8px;
}

.mdl-layout {
    transform: translate3d(0, 0, 0);
    min-width: 300px;
}

.mdl-layout__content {
    background-color: #eee;
}

/* LAYOUTS */

body.full-width {

}

body.cards .page-content {
    padding: 8px;
}

body.content .page-content {
    padding: 16px;
}

body.form.full-width .page-content {
    padding: 16px 16px 16px 24px;
}

.page-content {
    overflow: auto;
}

body.white-background .mdl-layout__content {
    background-color: #fff;
}

/* DRAWER */

#drawer-user-name {
    padding-top: 16px;
    line-height: 36px;
}

#drawer-user-email {
    padding-left: 16px;
}

.mdl-navigation {
    position: relative;
    height: calc(100% - 72px);
}

#drawer-spacer {
    padding-bottom: 130px;
}

#drawer-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.drawer-footer-link {
    background-color: #fafafa;
}

#drawer-settings-link {
    box-shadow: 0 -3px 3px -3px #aaa;
}

.mdl-layout__drawer .mdl-navigation__link {
    padding: 16px 24px !important;
}

.mdl-layout__header-row .mdl-navigation__link span {
    font-size: 15px;
}

.mdl-layout__drawer .mdl-navigation__link span {
    top: -3px;
    padding-left: 24px;
}

.mdl-layout__drawer .mdl-navigation__link i {
    position: relative;
    top: 8px;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.mdl-layout__header-row .mdl-navigation__link.active {
    background-color: rgba(0, 0, 0, 0.4);
}

.mdl-layout__drawer .mdl-navigation__link.active {
    background-color: #e5e5e5;
}

.mdl-layout__drawer-button {
    display: none;
}

.mdl-layout__header-row {
    max-width: 916px;
    width: calc(100% + 0px);
    margin: 0 auto;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
}

.mdl-layout-title {
    transition: all 0.2s ease-in-out;
}

.page-content {
    max-width: 900px;
    margin: 0 auto;
}

.submenu-container {
    position: relative;
}

.mdl-layout__header-row .submenu {
    position: absolute;
    width: 100%;
    margin-top: -1px;
    display: none;
    z-index: -1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.mdl-layout__header-row .submenu-container:hover .submenu {
    display: initial;
}

.mdl-layout__header-row .submenu a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 8px 8px 8px 24px;
    box-sizing: border-box;
}

.mdl-layout__header-row .submenu a:hover, .mdl-layout__header-row .submenu-container:hover .has-submenu {
    background-color: rgba(0, 0, 0, 0.2);
}

.mdl-layout__header-row .submenu li {
    list-style: none outside none;
}

/* CARD */

.mdl-card {
    min-height: 50px;
    width: 100%;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
    margin-bottom: 8px;
}

.mdl-card.hide {
    min-height: initial !important;
    height: 0 !important;
}

.two-to-one.mdl-card {
    width: 100%;
    min-height: 150px;
    overflow: hidden;
}

.two-to-one.mdl-card .card-content-container {
    width: 60%;
}

.two-to-one.mdl-card .card-time {
    padding: 12px 16px 4px;
}

.two-to-one.mdl-card .card-time span {
    position: relative;
    top: -7px;
    padding-left: 16px;
    font-size: 12px;
}

.two-to-one.mdl-card .mdl-card__title, .two-to-one.mdl-card .mdl-card__supporting-text {
    padding: 0 16px 8px 16px;
}

.two-to-one.mdl-card .mdl-card__title-text {
    font-size: 16px;
}

.two-to-one.mdl-card.two-supporting-texts .mdl-card__title-text {
    padding-top: 16px;
}

.two-to-one.mdl-card .mdl-card__supporting-text i {
    position: absolute;
}

.two-to-one.mdl-card.two-supporting-texts .mdl-card__supporting-text > span {
    padding-left: 32px;
    line-height: 24px;
}

.two-to-one.mdl-card .mdl-card__actions {
    position: absolute;
    bottom: 0;
    width: 60%;
}

.two-to-one.mdl-card .mdl-card__actions .mdl-button {
    padding: 0 14px;
}

.two-to-one.mdl-card .card-image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
}

.two-to-one.mdl-card .card-image {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.two-to-one.mdl-card .mdl-card__actions {
    padding-top: 4px;
    padding-bottom: 4px;
}

.text-card, .content-card {
    padding: 16px;
}

.text-card.mdl-card .mdl-card__supporting-text {
    position: absolute;
    padding: 8px;
    width: calc(100% - 32px);
}

.content-card .mdl-card__supporting-text {
    padding: 0;
}

.nopm {
    margin: 0;
    padding: 0;
}

/* APP PAGE */
#app h2 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}

#phone-embed {
    width: 411px;
    float: left;
    margin-right: 8px;
    box-sizing: border-box;
    padding: 8px;
}

#phone-embed #phone-frame-container {
    padding: 82px 0 82px 17px;
    background-image: url("../img/nexus_5x.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#phone-embed iframe {
    width: 360px;
    height: 642px;
}

#app .mdl-card__supporting-text {
    padding: 0px;
}

#phone-embed #no-phone-container {
    padding: 8px;
}

#phone-embed #no-phone-container div {
    margin-top: 8px;
}

.embed-controls {
    width: calc(100% - 419px);
    float: left;
    box-sizing: border-box;
    padding: 16px;
}

.embed-controls form {
    display: flex;
}

.embed-controls .mdl-textfield {
    flex-grow: 1;
    margin-right: 8px;
}

.embed-controls button {
    flex-grow: 0;
    position: relative;
    margin-top: 10px;
    min-width: 100px;
}

.embed-controls-header {
    position: relative;
    /*max-width: 458px;*/
}

#refresh-bin-list {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#current-user .mdl-card__supporting-text {
    padding: 0;
}

#current-user #user-name {
    font-size: 18px;
    line-height: 1.5em;
}

#current-user #user-email {
    font-size: 16px;
    line-height: 1.5em;
}

@media screen and (max-width: 862px) {

}

/* HOME */
.row-flex {
    display: flex;
}

.col-flex {
    flex: 1;
}

#intro-image {
    padding: 8px;
}

.intro-card {
    width: 442px;
    float: left;
}

.intro-card:first-child {
    margin-right: 8px;
}

.intro-card img {
    width: 100%;
}

#categories-list li {
    padding-left: 16px;
}

#concept {
    margin-right: 8px;
}

#statistics-screen {
    padding: 8px;
}

#statistics-screen img {
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.content-card li {
    margin-left: 16px;
}

@media screen and (max-width: 700px) {
    .mdl-layout__header-row {
        padding-left: 72px !important;
        padding-right: 16px !important;
    }

    .mdl-layout__header-row nav {
        display: none !important;
    }

    .mdl-card {
        width: 100% !important;
        min-width: initial !important;
        float: none !important;
    }

    .mdl-layout__drawer-button {
        display: initial !important;
    }

    .row-flex {
        display: block;
    }
}
